h1 {color: white;
}
#imagem1 {width: 30%;
}
h1 {font-size:148%;
}
h1 {text-align: center;
}
#imagem2 {margin-left: 20%;
          border-color: black;
          border-width: 40%;
}
#imagem1 {margin-left: 36%;
}
h2 {text-align: center;
    h2 {color: white;
}
#imagem2 {width: 57%;
}
h3 {text-align: center;
}
h3 {font-size: 115%;
    h3 {color: white;
}
h4 {color: white;
}
h4 {text-align: center;
}
h4 {font-size: 130%;
}
h5 {text-align: center;
}
h5 {font-size: 115%;
    h5 {color: white;
}
body {background-color: grey;
}
